html {
  box-sizing: border-box;
  font-size: 18px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  background-color: #434343; }

h1 {
  color: #03a9f4;
  font-family: "Freckle Face", helvetica, sans-serif;
  font-size: 120px;
  text-align: center;
  text-transform: uppercase; }

h2 {
  padding-bottom: 25px;
  color: #03a9f4;
  font-family: "Freckle Face", helvetica, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center; }

p {
  color: #fefefe;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center; }
  p.introduction {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    font-family: "Freckle Face", helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    width: 650px; }
  p.underline-intro {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #03a9f4;
    width: 50%; }

button {
  display: block;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
  background-color: transparent;
  border: 2px solid #03a9f4;
  border-radius: 25px;
  color: #03a9f4;
  font-family: "Freckle Face", helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase; }
  button:hover {
    background-color: #03a9f4;
    color: #434343;
    cursor: pointer; }
  button.show-me {
    margin-top: 25px; }

.container {
  margin: auto;
  padding-top: 25px;
  max-width: 1000px; }

.input-container {
  padding-top: 25px; }
  .input-container section {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px; }

.result-container {
  padding-top: 25px; }

label {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-right: 15px;
  color: #fefefe;
  font-family: "Freckle Face", helvetica, sans-serif;
  font-size: 24px;
  text-align: center; }

select.custom {
  display: inline-block;
  font-size: 20px;
  font-family: "Freckle Face", helvetica, sans-serif;
  color: #03a9f4;
  line-height: 1.3;
  padding: .3em .7em .2em .4em;
  min-width: 75px;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("/images/arrow_drop_down-24px.svg");
  background-repeat: no-repeat, repeat;
  background-position: right .1em top 50%, 0 0;
  background-size: 1.5em auto, 100%; }

select.custom::-ms-expand {
  display: none; }

select.custom:hover {
  border-color: #888; }

select.custom:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #03a9f4;
  outline: none; }

select.custom option {
  font-weight: normal; }

.hide {
  display: none; }
