@import 'normalize';

// COLOR AND FONT VARIABLES ===============
$white: #ffffff;
$black: #000000;
$background: #434343;
$body-copy: #fefefe;
$blue: #0a7cb2;

$open-sans: 'Open Sans', arial, sans-serif;
$freckle-face: 'Freckle Face', helvetica, sans-serif;

// GLOBAL ELEMENT STYLES ==================
body { background-color: $background; }

// ELEMENT STYLES =========================
h1 {
  color: $blue;
  font-family: $freckle-face;
  font-size: 120px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  padding-bottom: 25px;
  color: $blue;
  font-family: $freckle-face;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

p {
  color: $body-copy;
  font-family: $open-sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;

  &.introduction {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    font-family: $freckle-face;
    font-size: 24px;
    line-height: 30px;
    width: 650px;
  }

  &.underline-intro {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    padding-bottom: 10px;
    border-bottom: 2px solid $blue;
    width: 50%;
  }
}

button {
  display: block;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
  background-color: transparent;
  border: 2px solid $blue;
  border-radius: 25px;
  color: $blue;
  font-family: $freckle-face;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background-color: $blue;
    color: $background;
    cursor: pointer;
  }

  &.show-me { margin-top: 25px; }
}

// CONTAINER STYLES =======================
.container {
  margin: auto;
  padding-top: 25px;
  max-width: 1000px;
}

.input-container {
  padding-top: 25px;

  section {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.result-container { padding-top: 25px; }

// INPUT STYLES ===========================
label {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-right: 15px;
  color: $body-copy;
  font-family: $freckle-face;
  font-size: 24px;
  text-align: center;
}

select {
  &.custom {
    display: inline-block;
    font-size: 20px;
    font-family: $freckle-face;
    color: $blue;
    line-height: 1.3;
    padding: .3em .7em .2em .4em;
    min-width: 75px;
    max-width: 300px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    // background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  &.custom::-ms-expand {
    display: none;
  }
  &.custom:hover {
    border-color: #888;
  }
  &.custom:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    // color: #222;
    color: $blue;
    outline: none;
  }
  &.custom option {
    font-weight:normal;
  }
}

// GLOBAL UTILITY CLASSES ====================
.hide { display: none; }
