@import 'normalize';

// COLOR AND FONT VARIABLES ===============
$white: #ffffff;
$black: #000000;
$background: #efefef;
$body-copy: #434343;
$orange: #ff5722;

$freckle-face: 'Freckle Face', helvetica, sans-serif;

// GLOBAL ELEMENT STYLES ==================
body { background-color: $background; }

// CONTAINER STYLES =======================
.container {
  margin: auto;
  padding-top: 25px;
  max-width: 1000px;
}

// ELEMENT STYLES =========================
h1 {
  color: $orange;
  font-family: $freckle-face;
  font-size: 120px;
  text-align: center;
  // text-shadow: 1px 1px 2px $black;
  text-transform: uppercase;
}

p {
  color: $body-copy;
  font-size: 16px;
  line-height: 22px;
}
