@import 'normalize';

// COLOR AND FONT VARIABLES ===============
$white: #ffffff;
$black: #000000;
$background: #fefefe;
$body-copy: #434343;
$orange: #ff5722;
$orange-hover: #ff7043;

$open-sans: 'Open Sans', arial, sans-serif;
$freckle-face: 'Freckle Face', helvetica, sans-serif;

// GLOBAL ELEMENT STYLES ==================
body { background-color: $background; }

// CONTAINER STYLES =======================
.container {
  margin: auto;
  padding-top: 25px;
  max-width: 1000px;
}

// ELEMENT STYLES =========================
// INPUT STYLES ===========================
h1 {
  color: $orange;
  font-family: $freckle-face;
  font-size: 120px;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: $body-copy;
  font-family: $open-sans;
  font-size: 16px;
  line-height: 22px;

  &.introduction {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 25px;
    font-family: $freckle-face;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 650px;
  }
}

button {
  display: block;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
  background-color: $white;
  border: 2px solid $orange;
  border-radius: 25px;
  color: $orange;
  font-family: $freckle-face;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background-color: $orange;
    color: $white;
    cursor: pointer;
  }
}

// INPUT STYLES ===========================
select {
  &.alphabet {
    font-size: 36px;
    display: block;
  }
}
